In [1]:
import pandas as pd

# Reading data

In [2]:
df = pd.read_csv('datacov.csv')

In [3]:
df.head()

   fever  bodyPain  age  runynose  difBreath  infectionProb
0     99         0   40         0          1              1
1    100         1   91         1          1              0
2     99         0   18         0          0              1
3    101         1   92         1          0              0
4     99         0    6         0          1              1

In [4]:
df.tail()

      fever  bodyPain  age  runynose  difBreath  infectionProb
2499    100         0   44         1          0              1
2500    102         1   39         0          0              1
2501     99         0   60         0          0              0
2502     99         0   20         1          1              1
2503    103         1   71         0          0              1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2504 entries, 0 to 2503
Data columns (total 6 columns):
fever            2504 non-null int64
bodyPain         2504 non-null int64
age              2504 non-null int64
runynose         2504 non-null int64
difBreath        2504 non-null int64
infectionProb    2504 non-null int64
dtypes: int64(6)
memory usage: 117.5 KB

In [6]:
df['difBreath'].value_counts()

-1    849
 0    833
 1    822
Name: difBreath, dtype: int64

In [7]:
df.describe()

,fever,bodyPain,age,runynose,difBreath,infectionProb
count,2504.000000,2504.000000,2504.000000,2504.000000,2504.000000,2504.000000
mean,101.547923,0.487220,50.276358,0.484026,-0.010783,0.501198
std,1.688750,0.499936,28.951409,0.499845,0.816996,0.500098
min,99.000000,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,100.000000,0.000000,25.000000,0.000000,-1.000000,0.000000
50%,102.000000,0.000000,50.000000,0.000000,0.000000,1.000000
75%,103.000000,1.000000,75.000000,1.000000,1.000000,1.000000
max,104.000000,1.000000,100.000000,1.000000,1.000000,1.000000

# Train Test Splitting

In [8]:
import numpy as np

In [9]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size] #all rows & testsetsizecolumn
    train_indices = shuffled[test_set_size:] #first
    return data.iloc[train_indices], data.iloc[test_indices]

In [10]:
train, test = data_split(df, 0.2)

In [11]:
train

      fever  bodyPain  age  runynose  difBreath  infectionProb
1435    103         1   69         0          0              1
2020     99         0   76         1          0              0
342     104         0   34         1          1              0
1978     99         1   56         1          1              0
2079    102         0   42         0         -1              1
2026    101         0    6         0          1              1
1463    100         0   70         1          0              1
299     102         0   95         1          1              1
1128    102         0   93         0          1              0
2498    104         1   44         0          0              0
2383    103         1   10         1          1              1
1565     99         0   49         0         -1              1
2275     99         1   29         1          1              1
1501    104         0   85         0          1              0
1406    102         0   25         1         -1              0
220      99         0   67         1         -1              0
845     101         0   53         0          0              1
1877    104         0   51         1          1              1
1672    104         0   95         0         -1              1
84      104         0   95         0         -1              0
1048    102         1   10         0          0              1
266     104         1   92         0         -1              0
2224     99         1   46         1         -1              0
290     103         1   64         1          1              0
2263    102         1   50         0         -1              1
617     102         0   34         1          1              0
416     104         1   54         1          0              0
472      99         0   83         0          0              1
759     102         1   63         0          1              1
2060    101         0   56         0         -1              1
...     ...       ...  ...       ...        ...            ...
1806    104         1   14         1          1              1
975     104         0   45         1          1              0
2047     99         0   97         0         -1              1
1082    101         0   46         0         -1              0
474     103         1   51         0          1              0
747     100         1   96         1          1              0
2300    100         0   26         1          0              1
21      104         1   17         0          0              0
459     104         1   42         1          0              1
1184    104         0    3         1          0              1
2324     99         0   52         1         -1              1
955     103         0   18         0          1              0
1215     99         1   73         0         -1              0
2433    104         1   51         1         -1              0
1515    101         0   11         1         -1              0
2391    102         1    2         0          0              1
769     103         0   34         1          1              0
1685    103         1   96         1          0              1
130     104         1   58         0         -1              1
2135    101         0   53         1          1              1
1482    103         0   19         1          1              0
330      99         1   39         1          1              1
1238    101         0   43         1          1              0
466     100         1    7         0         -1              0
2169    102         0   24         0          1              1
1638    104         0   83         0          1              0
1095    102         0  100         0         -1              1
1130    103         0   48         1          0              1
1294     99         1    9         1          1              1
860     101         0   11         1          0              0

[2004 rows x 6 columns]

In [12]:
test

      fever  bodyPain  age  runynose  difBreath  infectionProb
1835    101         1   44         1         -1              1
252     104         1   55         1          1              1
1594    100         0   95         0         -1              1
430     103         1   31         0          0              0
1356     99         0   71         1          1              0
1620     99         0   22         0         -1              0
2196     99         0   26         0          1              0
1070    104         1   22         1          0              0
239     102         1   52         0         -1              0
1486    100         0   30         0         -1              0
2221    102         0   58         0          1              1
354     102         0   71         1         -1              1
445     101         0   74         1          0              1
2031    102         1   22         0          0              1
93      104         0   11         1          1              0
2136     99         0   85         1          0              0
1368    100         0    1         0          1              0
2413    102         1   80         0         -1              0
1241    100         0   70         0          1              0
782      99         1   75         1          0              1
2455    104         1   50         0         -1              0
940     101         1   40         0          0              1
2104    104         1  100         0          0              1
1674    100         0   22         1          1              1
56      100         1   76         1         -1              0
495     102         0   27         1          0              1
2365    101         0   22         0          0              1
2276    101         0   91         0         -1              0
670     103         0   63         1         -1              1
2311    103         0   52         1         -1              1
...     ...       ...  ...       ...        ...            ...
836     101         1    4         1          0              0
51      101         1   38         1         -1              1
1913    100         1   42         1         -1              1
1293    103         1   41         1          1              1
1600    103         0   70         0         -1              1
611     101         0   75         0          0              1
289      99         1   12         1          1              1
1831    101         1   39         0          1              0
2245    101         1   13         1          0              0
1915    104         0   81         0         -1              1
1614    104         1   75         0          1              0
2217    102         1   77         0         -1              0
2378    103         0   22         0          0              1
1412    100         1   86         0         -1              0
1945    103         0   13         1          1              0
291      99         0   78         1          1              0
2304    103         0   74         1          0              0
1307    103         0   21         1          1              0
123      99         0   47         0         -1              0
2350    103         1   41         0         -1              1
1137    103         1    5         1          0              1
1721    101         1   64         1         -1              0
620     104         0    1         1         -1              0
406     100         0   27         0          1              0
668     101         1   45         0          1              1
1298    101         1   46         1         -1              0
2241    102         0   10         0          1              1
2412    101         1   74         1         -1              1
1361    102         0   98         0          1              0
497     100         0   34         0         -1              0

[500 rows x 6 columns]

In [13]:
X_train = train[['fever', 'bodyPain', 'age', 'runynose', 'difBreath']].to_numpy()
X_test = test[['fever', 'bodyPain', 'age', 'runynose', 'difBreath']].to_numpy()

In [14]:
X_train

array([[103,   1,  69,   0,   0],
       [ 99,   0,  76,   1,   0],
       [104,   0,  34,   1,   1],
       ...,
       [103,   0,  48,   1,   0],
       [ 99,   1,   9,   1,   1],
       [101,   0,  11,   1,   0]], dtype=int64)

In [15]:
Y_train = train[['infectionProb']].to_numpy().reshape(2004,)
Y_test = test[['infectionProb']].to_numpy().reshape(500,)

In [16]:
Y_train

array([1, 0, 0, ..., 1, 1, 0], dtype=int64)

In [17]:
from sklearn.linear_model import LogisticRegression

In [18]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

C:\Users\Dell\Anaconda4\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [19]:
inputFeatures = [100,1,22,-1,1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [20]:
infProb

0.5295655850428443

In [1]:
pwd

'C:\\Users\\Dell\\covid predn'

In [2]:
2+1

3